div{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100vh;
    background-color:white;
  }
  button{
    border:none;
    background-color:offwhite;
    font-size:30px;
    padding:20px 40px;
    text-transform:capitalize;
    cursor:pointer;
    transform:all 0.3s;
    position:relative;
  }
  button:before{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    top:-5px;
      left:-5px;
    border-top:2px solid tomato;
    border-left:2px solid tomato;
    transition:all 0.25s;
  }
  button:hover:before ,button:hover:after{
    width:104%;
    height:110%;
  }
  button:after{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    bottom:-5px;
      right:-5px;
    border-bottom:2px solid tomato;
    border-right:2px solid tomato;
    transition:all 0.30s;
}