{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD_PRODUCT's</title>
    <link rel="stylesheet" href="{% static 'add_product/styles.css' %}">
    <style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      .button {
        background-color: red; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
     
      .button4 {border-radius: 12px;}
      
      </style>
</head>
<body>
    <div class="container">
   <form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="productName"><br>
    <input type="text" name="price" placeholder="product Price"><br>
    <input type="text" name="desc" placeholder="product DEtails"><br>
    <input type="file" name="img" placeholder="product image"><br><br>
    {% comment %} <input class="button4" type="submit" value="ADD"><br> {% endcomment %}
    <button class="button button4" type="submit" value="ADD">add</button>
    
   </form> 
</div>
</body>
</html>